:root{
    --primario: #9C27B8;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #222222;

    --fuentePrincipal: "Staatliches", sans-serif;
}